.header > ul {
  display: flex;
  margin: 1rem;
  list-style: none;
}

.header > ul > li {
  margin: 0 0.5rem;
}

.header > ul > li > a {
  padding: 0.2rem 0;
  font-weight: 700;
  font-size: 0.9rem;
}

.header > ul > li > a:hover {
  border-bottom: 2px solid #0000ff;
}

.main > h1 {
  text-align: center;
}

.container {
  width: 800px;
  max-width: 90%;
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2rem;
}

.input,
.output {
  width: 100%;
  height: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input > div {
  width: 100%;
  height: 100%;
}

.input > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input > button {
  padding: 1rem 1.5rem;
  margin: 1rem 0 0 0;
  width: 100%;
  cursor: pointer;
  background: #0000ff;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  font-weight: 700;
}

.input > button:disabled {
  background: #ccc;
}

.input > button:focus {
  outline: none;
}

.input > button + p {
  text-align: center;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_width {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
